<div class="row">
    <div class="small-6 large-centered columns">
        <form ng-controller="AuthController" ng-submit="login(user)">
            <fieldset>
                <legend>Please sign in</legend>

                <label>
                    <input type="text" id="username" ng-model="user.username" placeholder="Email or username" />
                    <input type="password" id="password" ng-model="user.password" placeholder="Password" />
                    <button tyep="submit" class="button small right" ng-click="">Submit</button>
                </label>
            </fieldset>
        </form>
    </div>
</div>
